<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice {{invoiceNumber}}</title>
</head>
<body>

<div id="heading">
    <div class="from">
        <span>business.name</span>
        <span>business.contact</span>
        <span>business.website</span>
        <span>business.email</span>
        <span>business.address_one</span>
        <span>business.address_two</span>
        <span>business.country</span>
    </div>

    <div class="customer">
        <div class="above">
            Invoice To
        </div>
        {%- if 'business_name' in customer %}
        <span>{{ customer.business_name }}</span>
        {%- endif %}
        <span>{{ customer.contact_name }}</span>
        <span>{{ customer.email }}</span>
        <span>{{ customer.address_one }}</span>
        {%- if 'address_two' in customer %}
        <span>{{ customer.address_two }}</span>
        {%- endif %}
        <span>{{ customer.city }}, {{ customer.province }} {{ customer.postal_code}}</span>
        <span>{{ customer.country }}</span>
    </div>

    <!-- <div class="invoice-details">
        <div class="above">
            Details
        </div>
        <table cellpadding="0" cellspacing="0">
                <tr>
                    <th class="label">Invoice Number:</th>
                    <td class="value">{{invoiceNumber}}</td>
                </tr>
                <tr>
                    <th class="label">Invoice Date:</th>
                    <td class="value">{{date}}</td>
                </tr>
                <tr>
                    <th class="label">Due Date:</td>
                    <td class="value">due date</td>
                </tr>
                <tr>
                    <th class="label">Balance Due:</td>
                    <td class="value">1200.00 CAD</td>
                </tr>
                
        </table>
    </div> -->

    <div class="invoice-details">
        <div class="above">
            Details
        </div>
        <div>
            <span class="label">Invoice Number:</span>
            <span class="value">{{invoiceNumber}}</span>
        </div>
        <div>
            <span class="label">Invoice Date:</span>
            <span class="value">{{date}}</span>
        </div>
        <div>
            <span class="label">Due Date:</span>
            <span class="value">due date</span>
        </div>
        <div>
            <span class="label">Balance Due:</span>
            <span class="value">1200.00 CAD</span>
        </div>
        </div>
    </div>
</div>



<br>

<div id="content">
    <div class="subject">
        <h1>Invoice</h1>
    </div>

    <div class="items">
        <table cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th class="text-left item">Item</th>
                <th class="text-left description">Description</th>
                <th class="text-right text-nowrap rate">Rate</th>
                <th class="text-right text-nowrap hours">Hours</th>
                <th class="text-right text-nowrap line-total">Line Total</th>
            </tr>
            </thead>
            <tbody>
            {% for n in range(50) %}
                {% include "snippet_table.html" %}
            {% endfor %}
            
            </tbody>
            
        </table>
    </div>

    <div id="end">
        <div class="public-notes">
            <p>
                {{ customer.public_notes }}
            </p>
        </div>
        <div class="totals">
            <span>Subtotal</span> <span>number here</span>
            <span>Paid to Date</span> <span>number here</span>
        </div>
    </div>

    <div id="balance">
        <span>Balance Due</span>
        <span>number here</span>
    </div>
    
        
</div>

</body>
</html>